.intro {
    background: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-position-x: 50px;
    background-size: 40em;
    @media (min-width: 62em) {
        background-size: 50em;
        background-position-y: -150px;
        background-position-x: 750px;
    }
    nav {
        .navbar {
            display: none;
        }
        @media (min-width: 62em) {
            button {
                background-color: $colorBrightRed;
                color: $colorVaryLightGray;
                font-size: 0.9rem;
                padding: 0.7rem 1.5rem;
                &:hover {
                    opacity: 0.7;
                }
            }
            .navbar {
                display: block;
                ul {
                    li {
                        a {
                            color: $colorVeryDarkBlue;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            .hamburger {
                display: none;
            }
        }
    }
}