/*Color */


/*Primary Color */

$colorBrightRed: hsl(12, 88%, 59%);
$colorDarkBlue: hsl(228, 39%, 23%);

/*Neutral Color */

$colorDarkGrayishBlue: hsl(227, 12%, 61%);
$colorVeryDarkBlue: hsl(233, 12%, 13%);
$colorVeryPaleRed: hsl(13, 100%, 96%);
$colorVaryLightGray: hsl(0, 0%, 98%);